html
    head
        title='My pagina'
        meta(charset="utf-8")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous")
    body

      .container.mt-5
        form(method="post" action="/api/productos/")
          .mb-3
            label(for="nombre" class="form-label") Ingrese Nombre
            input(type="text" class="form-control" id="nombre" name="nombre" aria-describedby="Nombre")
            
 
          .mb-3
            label(for="precio" class="form-label") Ingrese Precio
            input(type="text" class="form-control" name="precio" id="precio" aria-describedby="Precio")
          

          .mb-3
            label(for="url" class="form-label") Ingrese URL
            input(type="text" class="form-control" name="url" id="url" aria-describedby="Url")

          button(type="submit" class="btn btn-primary") Submit

